[submodule "ext/vm_globals"]
	path = ext/vm_globals
	url = ssh://intranet.cyber.ee/export/samba/dokumendipuu/teadus/sevilla/repo/platform/vm_globals.git
[submodule "ext/vm_m4"]
	path = ext/vm_m4
	url = ssh://intranet.cyber.ee/export/samba/dokumendipuu/teadus/sevilla/repo/platform/vm_m4.git
