[submodule "ext/libexecutable"]
	path = ext/libexecutable
	url = ssh://sharemind.cyber.ee/projects/sharemind/git/libexecutable.git
[submodule "ext/libmodapi"]
	path = ext/libmodapi
	url = ssh://sharemind.cyber.ee/projects/sharemind/git/libmodapi.git
[submodule "ext/vm_globals"]
	path = ext/vm_globals
	url = ssh://sharemind.cyber.ee/projects/sharemind/git/vm_globals.git
[submodule "ext/vm_m4"]
	path = ext/vm_m4
	url = ssh://sharemind.cyber.ee/projects/sharemind/git/vm_m4.git
